examples/change-pin/change-pin
examples/get-ek-certificate/get-ek-certificate
examples/provision-status/provision-status
examples/provision-tpm/provision-tpm
examples/seal-key/seal-key
examples/unseal-key/unseal-key
examples/verify-tpm/verify-tpm
ubuntu-core-cryptsetup/ubuntu-core-cryptsetup
vendor/*/
